html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #fafafa;
    
}
.dark-mode {
    color: rgb(255, 255, 255);
    background-color: #3a3a3a;
  }
.inputBox {
    width: 100%;
    padding: 5px;
    margin: 5px;
}

.mainWindow {
    padding: 15px;
    width: 50%;
    max-width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 3%;
}

#addButton {
    margin-top: 5px;
    margin-left: 5px;
}

.cards {
    display:inline-block;
    padding-left: 30px;
    padding-top: 20px;
}

#meetings {
    width: 70%;
    margin-left: 15%;
}

#centre {
    text-align: center;
    padding-bottom: 10px;
}

#launchMeeting {
    margin-bottom: 10px;
}

#clearAll {
    margin: 30px;
}

#credits {
    padding: 20px;
    text-align: right;
    color: rgb(255, 255, 255);
}